:root {
  --first-color: #243b55;
  --second-color: #141e30;
  --third-color: #0079bf;
  --fourth-color: #141e30;
  --fifth-color: #368dc0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  background: var(--fourth-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  max-width: 1224px;
  margin: auto;
  align-items: center;
  color: white;
}

.nav-user {
  display: flex;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.left {
  background: linear-gradient(var(--first-color), var(--second-color));
  padding-top: 2rem;
}

.left ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left li {
  padding: 0.6rem 0;
  border-bottom: 1px solid rgb(70, 68, 68);
}

.left ul li a {
  padding: 1rem;
  font-size: 1.2rem;

  color: white;
}

.left ul li a:hover {
  color: #ddd;
}

.right {
  padding: 2rem 5rem;
}

.btn a {
  border-radius: 0.2rem;
  background: var(--fifth-color);
  padding: 0.5rem;
  color: white;
}

.post-title {
  text-align: center;
}

.content-table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 1rem;
  /* min-width: 400px; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.action-btn {
  display: flex;
  justify-content: space-between;
}

.edit a {
  color: teal;
}

.delete a {
  color: red;
}

.publish a {
  color: green;
}
.content-table thead tr {
  background-color: #3bacee;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.contact-input {
  width: 80%;
  border: #ddd 1.5px solid;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 760px) {
  main {
    display: block;
  }
  .right {
    padding: 2rem 1rem;
  }
  .left {
    display: none;
  }
  .content-table thead {
    display: none;
  }
  .content-table tr,
  .content-table td {
    display: block;
  }

  .content-table tr:not(:last-child) {
    border-bottom: 5px solid #5ca0c3;
  }

  .content-table td {
    padding-left: 54%;
    position: relative;
  }

  .content-table td::before {
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 45%;
    content: attr(data-col-title);
    font-weight: bold;
    background-color: #f3f6fa;
  }
}
